:root {
    --back-body: #001d3d;
    --back-jumbo: #000814;
    --back-card-f: #444444;
    --body-hue: 141;
    --body-sat: 124%;
    --body-lum: 14%;
}

body {
    background-color: var(--back-body);
}

.back-jumbo {
    border-radius: 8px;
    border: solid .5px rgba(255, 255, 255, 0.178);
    background: linear-gradient(var(--back-body), var(--back-jumbo));
}

.back-jumbo-reversed {
    border-radius: 8px;
    border: solid 0.1px rgba(169, 36, 187, 0.534);
    background: linear-gradient(var(--back-jumbo), var(--back-body));
}

.text-fancy {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
}

.modal-description {
    margin-top: 1rem;
    padding: .5rem .5rem;
    color: white;
    font-size: small;
}